$font-one: 'Poppins', sans-serif;
$font-two: 'Heebo', sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-inline-size: 100%;
  block-size: auto;
}

.container{
  inline-size: 90%;
  margin: auto;
}
