@media (min-width: 1025px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{

      #nav-menu{
        display: none;
      }
    }
  }

  footer{

    ul{

      li{
        margin-inline-end: 1rem;
        display: inline;
      }
    }

    .first{
      gap: 1.2rem;
    }

    .footer-flex{
      justify-content: space-between;
    }
  }

}
