@media (min-width: 1025px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{
      top: 30px;
      left: 60px;

      #nav-menu{
        display: none;
      }
    }

    .intro{
      padding-inline-end: 90px;
      bottom: 240px;
      left: 60px;
    }
  }

  .section-one{
    position: relative;

    .write-up{
      position: absolute;
      right: 90px;
      bottom: 5px;
      padding-block-start: 70px;
      padding-inline-start: 70px;
      inline-size: 650px;
      background-color: #FFFFFF;
    }
  }

  .section-two{

    .top{
      display: flex;
      justify-content: space-between;
    }

    .writing{
      bottom: 30px;
      right: 80px;
    }

    .images{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }

    .mobile-button{
      display: none;
    }
  }

  footer{

    ul{

      li{
        margin-inline-end: 1rem;
        display: inline;
      }

      li:hover{
        border-bottom: 3px solid #FFFFFF;
        padding-block-end: 0.4rem;
      }
    }

    .first{
      gap: 1.2rem;
    }

    .second{

      .icon:hover{
        border-bottom: 3px solid #FFFFFF;
        padding-block-end: 0.4rem;
        cursor: pointer;
      }
    }

    .footer-flex{
      justify-content: space-between;
    }
  }

}
