@media (min-width: 1025px) {

  .mobile-image{
    display: none;
  }

  header{

    nav{

      #nav-menu{
        display: none;
      }
    }
  }

  .section-two{

    .top{
      display: flex;
      justify-content: space-between;
    }

    .writing{
      bottom: 30px;
      right: 80px;
    }

    .images{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
    }

    .mobile-button{
      display: none;
    }
  }

  footer{

    ul{

      li{
        margin-inline-end: 1rem;
        display: inline;
      }
    }

    .first{
      gap: 1.2rem;
    }

    .footer-flex{
      justify-content: space-between;
    }
  }

}
