@media (max-width: 1024px) {

  .desktop-image{
    display: none;
  }

  header{

    nav{

      .nav-items{
        display: none;
      }
    }
  }

  footer{
    text-align: center;

    ul{

      li{
        margin-block-start: 1rem;
      }
    }

    .second{
      gap: 1rem;
    }

    .footer-flex{
      flex-direction: column;
      gap: 2rem;
    }
  }

}
