@media (max-width: 1024px) {

  .desktop-image{
    display: none;
  }

  header{

    nav{

      .nav-items{
        display: none;
      }
    }
  }

  .section-two{

    .top{
      text-align: center;
    }

    .writing{
      bottom: 20px;
      left: 10px;
    }

    .images{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .mobile-button{
      text-align: center;
      margin-block-start: 1rem;
    }

    .desktop-button{
      display: none;
    }

  }

  footer{
    text-align: center;

    ul{

      li{
        margin-block-start: 1rem;
      }
    }

    .second{
      gap: 1rem;
    }

    .footer-flex{
      flex-direction: column;
      gap: 2rem;
    }
  }

}
