@import "config";
@import "desktop";
@import "mobile";

body{
  font-family: $font-one;
  font-size: 15px;
}

header{
  position: relative;

  nav{
    position: absolute;
    display: flex;
    justify-content: space-between;

    a{
      text-decoration: none;
      color: #FFFFFF;
    }

    ul{
      list-style-type: none;

      li{
        display: inline;
        margin-inline-start: 2rem;
        font-size: 13px;
      }

      li:hover{
        border-bottom: 3px solid #FFFFFF;
        padding-block-end: 0.4rem;
      }
    }
  }

  .intro{
    font-size: 43px;
    font-weight: lighter;
    line-height: 2.3rem;
    position: absolute;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    inline-size: min-content;
    padding-block-start: 20px;
    padding-block-end: 20px;
    padding-inline-start: 20px;
  }
}

.section-one{
  margin-block-start: 4rem;
  margin-block-end: 4rem;

  .write-up{

    h1{
      font-size: 30px;
      text-transform: uppercase;
      margin-block-end: 1rem;
    }
  }
}

.section-two{
  margin-block-end: 6rem;

  .top{
    margin-block-end: 2rem;

    h1{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  .images{

    .item{
      position: relative;

      .writing{
        position: absolute;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 29px;
        line-height: 1.5rem;
        inline-size: 45%;
        font-weight: normal;
      }
    }

    .image-hover:hover{
      opacity: 0.4;
      cursor: pointer;
    }
  }
}

footer{
  background-color: #000000;
  color: #FFFFFF;
  padding-block-start: 20px;

  a{
    text-decoration: none;
    color: inherit;
  }

  ul{
    list-style-type: none;

    li{
      font-size: 12px;
    }

    li:hover{
      border-bottom: 3px solid #FFFFFF;
      padding-block-end: 0.4rem;
    }
  }

  .first{
    display: flex;
    flex-direction: column;

    img{
      margin-inline-start: 0.5rem;
    }
  }

  .second{
    @extend .first;

    p{
      font-size: 12px;
    }

    .icon:hover{
      border-bottom: 3px solid #FFFFFF;
      padding-block-end: 0.4rem;
      cursor: pointer;
    }
  }

  .footer-flex{
    display: flex;
  }

}

.attribution{
  margin-block-start: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
