@import "config";
@import "desktop";
@import "mobile";

body{
  font-family: $font-one;
  font-size: 15px;
}

header{
  position: relative;

  nav{
    display: flex;
    justify-content: space-between;

    a{
      text-decoration: none;
      /*color: #FFFFFF;*/
    }

    ul{
      list-style-type: none;

      li{
        display: inline;
        margin-inline-start: 2rem;
        font-size: 13px;
      }
    }
  }

  .intro{
    border: 1px solid red;
    text-transform: uppercase;
    inline-size: min-content;
    padding: 15px 15px 30px 15px;
  }
}

.section-two{
  margin-block-end: 5rem;

  .top{
    margin-block-end: 3rem;

    h1{
      font-size: 30px;
      text-transform: uppercase;
      font-weight: normal;
    }
  }

  .images{

    .item{
      position: relative;

      .writing{
        position: absolute;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 29px;
        line-height: 1.5rem;
        inline-size: 45%;
        font-weight: normal;

      }
    }
  }
}

footer{
  background-color: #000000;
  color: #FFFFFF;
  padding-block-start: 20px;

  a{
    text-decoration: none;
    color: inherit;
  }

  ul{
    list-style-type: none;

    li{
      font-size: 12px;
    }
  }

  .first{
    display: flex;
    flex-direction: column;

    img{
      margin-inline-start: 0.5rem;
    }
  }

  .second{
    @extend .first;

    p{
      font-size: 12px;
    }
  }

  .footer-flex{
    display: flex;
  }

}

.attribution{
  margin-block-start: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
